{% extends 'base.html.twig' %}

{% block title %}Article {{ article.id }}{% endblock %}

{% block body %}
    <div class="article-ctn">
        <h2 class="center article-title">{{ article.title }}</h2>
        <div class="row article-details-row">
            <div class="photo-article-ctn">
                <img class="img-article" src="{{ article.photo }}" alt="{{ article.title }}">
            </div>
            <div class="description-article-ctn">
                <p>{{ article.content }}</p>
                <p>Posted - <b><em>{{ article.createdAt|date('m/d/Y') }}</em></b></p>
                <p>By - <b>{{ article.author }}</b></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="{{ path('home') }}"><button id="btn-article" class="btn"><b>Back Home</b></button></a>
        </div>
    </div>
{% endblock %}