{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <div class="tours-ctn">
        <div class="row tours-row">
            {% for tour in tours|sort((a,b) => a.id > b.id) %}
            <div class="card col-10 card-ctn" id="card-tours">
                <a href="{{ path('tour_details', { 'id': tour.id}) }}">
                <div class="card-body">
                    <img class="card-img-top" src="{{ tour.photo }}" alt="{{ tour.title }}">
                    <h3 class="tour-title"><b>{{ tour.title }}</b></h3>
                    <div class="row tour-row-date">
                        <div class="start-date">
                            <p class="date"><b><em>{{ tour.startDate|date('m/d/Y') }}</em></b></p>
                        </div>
                        <div>
                            <img class="arrow-img" src="https://image.flaticon.com/icons/svg/833/833569.svg" alt="...">
                            <img class="arrow-img" src="https://image.flaticon.com/icons/svg/833/833569.svg" alt="...">
                            <img class="arrow-img" src="https://image.flaticon.com/icons/svg/833/833569.svg" alt="...">
                        </div>
                        <div class="end-date">
                            <p class="date"><b><em>{{  tour.endDate|date('m/d/Y') }}</em></b></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}