{% extends 'base.html.twig' %}

{% block title %}{{ tour.title }}{% endblock %}

{% block body %}
    <div class="tours-ctn">
        <h2 class="center">{{ tour.title }}</h2>
        <div class="tour-img-ctn">
            <img class="tour-img" src="{{ tour.photo }}" alt="{{ tour.title }}">
        </div>
        <h2 class="center">Countries</h2>
        <div class="row tour-countries-row">
            {% for country in tour.countries %}
            <div class="country-ctn col-10">
                <h3 class="country-name"><b>{{ country.name }}</b></h3>
            </div>
            <div class="row tour-cities-row">
                {% for city in country.cities %}
                    <img class="arrow-img" src="https://image.flaticon.com/icons/svg/833/833569.svg" alt="...">
                    <div class="city-ctn">
                        <p class="date"><b>{{ city.name }}</b></p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="row tour-dates-row">
            <div class="tour-start-date start-date">
                <p class="date"><b>{{ tour.startDate|date('m/d/Y') }}</b></p>
            </div>
            <h3 class="country-name"><b>Start On</b></h3>
            <div class="row date-arrow">
                <img class="tour-image-arrow" src="https://image.flaticon.com/icons/svg/892/892625.svg" alt="...">
                <img class="tour-image-arrow" src="https://image.flaticon.com/icons/svg/892/892625.svg" alt="...">
                <img class="tour-image-arrow" src="https://image.flaticon.com/icons/svg/892/892625.svg" alt="...">
            </div>
            <h3 class="country-name"><b>Finish On</b></h3>
            <div class="tour-end-date end-date">
                <p class="date"><b>{{ tour.endDate|date('m/d/Y') }}</b></p>
            </div>
        </div>
        <h2 class="center">Present Artists</h2>
        <div class="row tour-artists-row">
            {% for artist in tour.artists %}
            <div class="artist-ctn">
                <a href="{{ path('artist_details', { 'id': artist.id}) }}"><button class="btn">{{ artist.name }}</button></a>
            </div>
            {% endfor %}
        </div>
        <hr class="tour-hr">
        <div class="row justify-content-center">
            <a href="{{ path('tours') }}"><button id="btn-tour" class="btn"><b>Back to Tours</b></button></a>
            {% if app.user %}
            <a href="{{ path('cart_add', { 'id': tour.id}) }}"><button id="btn-tour" class="btn"><b>Book !</b></button></a>
            {% endif %}
        </div>
        {% if not app.user %}
            <div class="info-div">
                <p><img class="info-img" src="https://image.flaticon.com/icons/svg/785/785822.svg" alt="info"> You must be logged to book a Tour ! <a class="link-register" href="{{ path('app_login') }}">Login</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}